fldEncrKey=4ntjsdo82boe0gj7pcgtg4tu9j&fldPassword=${headers.fldPassword}&fldDeviceId=01&fldEntityId=T001&fldRetainSameImg=Y&fldServiceType=LGN&fldLoginName=${headers.user}&fldTxnId=LGN&idsequence=WtDGLtcnUgcVOAW0aeUQh1nzeehcUjakWU+KauIr4io=&hdnCurrentTextBox=0&hdnCaps=-1&fldLangId=${headers.lang}&fldHiddenTxnId=LGN&fldlanguage=${headers.lang}&fldRequestId=RRLGN33&fldLoginUserId=${headers.user}&fldIdUser=${headers.fldIdUser}&fldUserType=EN1&fldAppId=RR&datetime=${headers.datetime}&timeZone=${headers.timeZone}&fldSessionID=${headers.fldSessionId}&fldCustomerId=${headers.idCustomer}