fldDeviceId=01&fldLangId=eng&fldRequestId=RRPSF01&fldUserType=EN1&fldcreditcardflag=Y&flddestacctno=4312111097026983&fldestacctccy=KWD&fldtxnamount=15.000&fldtxnrefno=7529600590990420&fldknetrefno=448360&fldtxnclientid=OLB&fldemailid=testing@test.com&fldmobileno=99999888&flduserid=12090&fldcif=74401774&fldEntityId=T001