fldtotalpayee=3&fldSectionId=RRSFP01&fldbranch1=&fldacctno1=29060490&fldServiceType=SFP&fldLangId=eng&fldUserType=EN1&fldaccttype=C&fldFormatData=test12#545652132#aaa@test.com#200~test22#54454656#bbb@test.com#100~test33#54565651#ccc@test.com#150&fldRequestId=RRSFP02&fldSessionId=${headers.sessionId}&fldDataId=${headers.dataId}