<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{ISO8601} %X{USER_ID} %X{UUID} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="GbkT3" fileName="/Users/gulfbank/Desktop/RahulJohny/logs/GBKT3.log">
			<PatternLayout
				pattern="%d{ISO8601} %X{USER_ID} %X{UUID} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		
		
	</Appenders>
	<Loggers>		 
		<Logger name="com" additivity="false">			            
			<AppenderRef ref="GbkT3" level="debug" />
			<AppenderRef ref="Console" />			        
		</Logger>	
		

		<Root level="DEBUG" includeLocation="false">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>